<a href="https://colab.research.google.com/github/abhilash-1204/ABHILASH_22_001/blob/main/Set_03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hello CSE Group-1")

Hello CSE Group-1

In [ ]:
a=input('Enter your name')
print('Myself',a)

Enter your nameAbhilash
Myself Abhilash

In [ ]:
#using of + operator
a=int(input('enter first number'))
b=int(input('enter second number'))
c=a+b
print('sum is ',c)

enter first number52
enter second number23
sum is  75

In [ ]:
a=123
print(type(a))
b="hello"
print(type(b))
c=12.3
print(type(c))
d=True
print(type(d))

<class 'int'>
<class 'str'>
<class 'float'>
<class 'bool'>

In [ ]:
#Arithmetic Operators
a=2
b=5
c=a+b
print('a+b=',c)
d=a-b
print('a-b=',d)
e=a*b
print('a*b=',e)
f=a/b
print('a/b=',f)
g=a%b
print('a%b=',g)
h=a//b
print('a//b=',h)
i=a**b
print('a**b=',i)

a+b= 7
a-b= -3
a*b= 10
a/b= 0.4
a%b= 2
a//b= 0
a**b= 32

In [ ]:
# Bitwise - shift operator
a=4
b=2
d=a&b
print('a & b=',d)
f=a<<b
print('a<<b=',f)

a & b= 0
a<<b= 16

In [ ]:
a=2
b=5
a+=b
print('a=',a)
print('b=',b)

a= 7
b= 5

In [ ]:
#Special operator
a=5
b=5
d=a is b
print('a is b=',d)
d=a is not b
print('a is not b=',d)

a is b= True
a is not b= False

In [ ]:
# in and not in operator
a="hello"
b='l'
c=b in a
print('b in a=',c)
d=b not in a
print('b not in a=',d)

b in a= True
b not in a= False

In [ ]:
# input a no and check even
a=int(input('enter a number'))
if a%2==0:
   print("even no")
else:
   print("odd no")

enter a number5
odd no

In [ ]:
a=int(input('first num'))
b=int(input('second num'))
if a>b:
  max=a;
  min=b;
  print('a is max')
  print('b is min')

first num5
second num6

In [ ]:
num=int(input('enter a number'))
if num==10:
  print('num is equal to 10')
elif num==50:
  print('num is equal to 50')
else:
  print('wrong number')

enter a number10
num is equal to 10

In [ ]:
str='python'
for i in str:
  print(i)

p
y
t
h
o
n

In [ ]:
for i in range(1,11):
  print(i,end='')

12345678910

In [ ]:
n=int(input('n=?'))
c=0
for i in range(1,n+1):
  if(i%2==1):
    c=c+1
    print(i,end=',')
    print('no of odd=',c)

n=?10
1,no of odd= 1
3,no of odd= 2
5,no of odd= 3
7,no of odd= 4
9,no of odd= 5

In [ ]:
num=int(input('enter the number'))
revnum=0
while (num>0):
  rem=num%10
  revnum=(revnum*10)+rem
  num=num//10
  print('rev num is',revnum)

enter the number543
rev num is 3
rev num is 34
rev num is 345

In [ ]:
# PATTERN QUESTION 01
rows=int(input("enter the rows"))
for i in range(0,rows+1):
  for j in range(i):
    print(i,end=" ")
  print()

enter the rows5

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [ ]:
# PATTERN QUESTION 02
n=5
for k in range(n,0,-1):
  pu=k
  for m in range(0,k):
    print(pu,end=" ")
  print("\r")

5 5 5 5 5
4 4 4 4
3 3 3
2 2
1

In [ ]:
# PATTERN QUESTION 03
rows=5
for i in range(1,6):
    print(str(i)*i)

for i in range(4,0,-1):
    print(str(i)*i)

1
22
333
4444
55555
4444
333
22
1

In [ ]:
# PATTERN QUESTION 04
for i in range(5, 0, -1):
  print(str(i)*i)

for i in range(2, 6):
  print(str(i)*i)

55555
4444
333
22
1
22
333
4444
55555

In [ ]:
# PATTERN QUESTION 05
b=0
for i in range(rows,0,-1):
  b+=1
  for j in range(1,i+1):
    print(b,end=" ")
  print("\r")

1 1 1 1 1
2 2 2 2
3 3 3
4 4
5

In [ ]:
# PATTERN QUESTION 06
for i in range(5,0,-1):
   for j in range(6-i):
    print(i,end=" ")
   print("\r")

5
4 4
3 3 3
2 2 2 2
1 1 1 1 1

In [ ]:
# PATTERN QUESTION 07
for i in range(1,6):
  for j in range(6-i):
   print(i,end=" ")
  print(" ")

for i in range(4,0,-1):
  for j in range(5-i):
      print(i,end=" ")
  print(" ")

1 1 1 1 1
2 2 2 2
3 3 3
4 4
5
4
3 3
2 2 2
1 1 1 1

In [ ]:
# PATTERN QUESTION 08
p=rows
for i in range(rows,0,-1):
  for j in range(0,i):
    print(p,end=" ")
  print("\r")

5 5 5 5 5
5 5 5 5
5 5 5
5 5
5

In [ ]:
# PATTERN QUESTION 09
for i in range(1,6):
  for j in range(i,0,-1):
    print(j,end=" ")
  print("")

1
2 1
3 2 1
4 3 2 1
5 4 3 2 1

In [ ]:
# PATTERN QUESTION 10
for i in range(5,0,-1):
  for j in range(0,i+1):
    print(j,end=" ")
  print("")

0 1 2 3 4 5
0 1 2 3 4
0 1 2 3
0 1 2
0 1

In [ ]:
# PATTERN QUESTION 11
for i in range(65,70):
  for j in range(65,i+1):
    print(chr(i),end=" ")
  print("")

A
B B
C C C
D D D D
E E E E E

In [ ]:
# PATTERN QUESTION 12
for i in range(1,9):
  for j in range(1,i+1):
    s=i*j
    print(i*j,end=" ")

  print("\r")

1
2 4
3 6 9
4 8 12 16
5 10 15 20 25
6 12 18 24 30 36
7 14 21 28 35 42 49
8 16 24 32 40 48 56 64

In [ ]:
# PATTERN QUESTION 13
l=(2*5)-2
for i in range(0,5):
  for j in range(0,l):
     print(end=" ")
  l=l-2
  for j in range(0,i+1):
    print("*",end=" ")
  print("")

        *
      * *
    * * *
  * * * *
* * * * *

In [ ]:
# PATTERN QUESTION 14
i=1
while i<=5:
  if i%2==0:
    j=1
    while j<=i:
      print(" * ",end=" ")
      j +=1
  else:
    j=1
    while j<=i:
      print(" # ",end=" ")
      j +=1
  print()
  i +=1

 #
 *   *
 #   #   #
 *   *   *   *
 #   #   #   #   #

In [ ]:
# PATTERN QUESTION 15
def print_pattern(rows):
  for i in range(1, rows+1):
    print(" " * (rows-i),end=" ")
    print(chr(64+i) * i)
print_pattern(5)

     A
    BB
   CCC
  DDDD
 EEEEE